
img.navbar-brand{
  height: 120px;
  width: 120px;
}
div.Book>div>h1{
  text-align: center;
}
div.ourClients>h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.Book a{
  height: 40px;
  width: 400px;
}
div.ourClients img{
  border-radius: 50%;
  height: 227px;
  width: 227px;
  overflow: hidden;
}
#contact{
  align-items: center;
}
div#contact{
  display: flex;
  flex-direction: column;
}
div#contact>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top:20px;
}
div#contact>div>p{
  color: whitesmoke;
  padding-left: 10px;
}
div#contact>div>img{
height: 30px;
width: 30px;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(230, 230, 230);
  }

  nav#navbar {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 220, 1) 50%, rgba(245, 245, 220, 1) 100%);
  }

  .btn-primary {
    background: white;
    color: black;
    border-color: black; 
  }
  .btn-primary:hover{
    color:gold;
    background-color: white;
    border: 1px solid gold;
  }
  ul#dropdown {
    background-color: rgb(255, 255, 255); 
  }

  ul#dropdown>li>a {
    color:black;
  }

  ul#dropdown>li>a:hover {
    color: gold;
  }

  header a.nav-link:hover {
    color: gold; 
  }

  header a#nav-Airport-served:hover,header a#nav-Airport-us:hover{
    color: gold; 
  }
  header a#nav-home:hover {
    color: gold; 
  }

  footer h2, footer label {
    color: black;
  }
  footer {
    padding-top: 30px;
    background-image: url('https://img.freepik.com/premium-vector/gray-world-map-white-background_42634-10.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  footer div#contact p{
    color:black;
  }
  footer>div.container>div.row input{
    border: 1px solid black;
  }
  footer>div.container>div.row input:hover{
    border: 1px solid gold;
  }
}
@media (prefers-color-scheme: dark) {
  body{
    background: rgb(42,42,42);
    background: radial-gradient(circle, rgba(42,42,42,1) 38%, rgba(83,83,76,1) 78%);
  }
  nav#navbar{
    background: rgb(64,57,57);
    background: linear-gradient(90deg, rgba(64,57,57,1) 33%, rgba(144,144,105,0) 70%, rgba(190,188,20,0.6474964985994398) 87%);
  }

  .btn-primary{
    background: rgb(175,175,17);
    background: radial-gradient(circle, rgba(175,175,17,1) 38%, rgba(246,246,7,1) 100%);
    color: black;
    border-color: rgb(175,175,17);
    border-color: radial-gradient(circle, rgba(175,175,17,1) 38%, rgba(246,246,7,1) 100%); 
  }
  ul#dropdown{
    background-color: grey;
  }
  ul#dropdown>li>a{
    color: black;
  }
  ul#dropdown>li>a:hover{
    color:gold;
  }
  div.description h1{
    color:gold;
  }
  div.description p{
   color:white; 
  }
  div.ourClients>h1{
    text-align: center;
    padding-bottom: 30px;
    color:gold;
  }
  div.ourClients h4{
    color:gold;
  }
  main div#assist-2 h1{
    color: gold;
  }
  main p{
    color:white;
  }
  main ul>li{
    color: white;
  }
  div#assist>div#assist-2>.assist>h2{
   color: gold;
    padding-left: 20px;
  }
  header a.nav-link:hover{
    color: gold;
  }
  header a#nav-Airport-served:hover,header a#nav-Airport-us:hover{
    color: gold; 
  }
  header a#nav-home:hover {
    color: gold; 
  }
  footer h2, footer label{
    color:whitesmoke;
  }
  footer{
    background-image: url('https://img.freepik.com/premium-photo/world-map-black-background-generative-ai_151355-19307.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
}
